.square-style {
  width: 250px;
  height: 150px;
  border: 1px solid green;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

.working-list {
  display: flex;
  gap: 12px;
  margin: 20px auto;
}

.form-style {
  display: flex;
  align-items: center;
  justify-content: center;
}